.wrapper {
  min-width: 900px;
  margin: 0 auto;
  padding-bottom: 108px;
  background: #561ba7 url("../../images/activity/forshoulei/bg.jpg") no-repeat center top;
  .part-01{
    width: 100%;
    height: 398px;
    position: relative;
    .logo-wrp{
      width: 900px;
      margin: 0 auto;
      padding-top: 15px;
      .logo{
        display: block;
        width: 284px;
        height: 42px;
        background: url("../../images/activity/common/page-logo-xljr-daishangqian.png") no-repeat center center;
      }
    }
    .small-title{
      position: absolute;
      color: #fde4ae;
      font-size: 34px;
      top: 88px;
      font-weight: 300;
      padding-left: 49%;
    }
    .get-huiyuan{
      display: block;
      width: 280px;
      height: 60px;
      line-height: 60px;
      background: url("../../images/activity/forshoulei/btn-bg.png") no-repeat center center;
      color: #fff;
      font-size: 34px;
      text-align: center;
      margin: 250px auto 0;
    }
  } 
}
.part-02{
  width: 100%;
  height: 1165px;
  background: url("../../images/activity/forshoulei/bg-panel.png") no-repeat center center;
  margin: 0 auto;
  padding-top: 302px;
}
.inner-panel{
  width: 690px;
  height: 785px;
  background-color: #eff3f6;
  border-radius: 8px;
  position: relative;
  padding-top: 104px;
  margin: 0 auto;
}
.inner-panel .title{
  width: 270px;
  height: 66px;
  line-height: 66px;
  display: block;
  background-color: #ff5b43;
  color: #fff;
  font-size: 30px;
  border-radius: 0 33px 33px 0;
  position: absolute;
  top: 14px;
  left: -3px;
  padding-left: 62px;
}

.cooperator-ul{
  text-align: center;
  font-size: 0;
}
.cooperator-li{
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 35px;
  font-size: 24px;
  color: #666666;
  position: relative;
}
.cooperator-li .remark{
  display: inline-block;
  height: 30px;
  max-width: 150px;
  line-height: 30px;
  color: #fde58d;
  font-size: 18px;
  background-color: #ff5b43;
  position: absolute;
  top: 13px;
  right: 0;
  padding: 0 15px 0 18px;
  border: none;
  border-radius: 15px 0 0 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cooperator-li a{
  display: block;
  width: 300px;
  height: 300px;
  color: #666666;
  padding-top: 56px;
}
.cooperator-li-right{
  margin-left: 39px;
}
.co-icon{
  display: block;
  width: 240px;
  height: 120px;
  margin: 0 auto;
}
.co-desc-top{
  display: block;
  margin-top: 10px;
}
.co-desc-bottom{
  display: block;
  margin-top: 10px;
}
.remark{
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding: 16px 0 8px 0;
}
.remark .remark-top{
  display: block;
}
.remark .remark-bottom{
  display: block;
  margin-top: 4px;
}
.remark .tel{
  color: #fff;
}