@import '../lib/lib-variables';

.app-wrapper{
  height: 100%;
  min-height: 100%;
}
.homepage{
  height: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 143px;
}
@import './homeCooperaterPanel';
@import './QRcodePanelBottom';