<section class="select-container">
    <%= nicname %>
    <ul class="select-item-ul clearfix">
        <%
            console.log(friendList);
         %>
        <li>索引 {{i + 1}} ：{{value}}</li>
            <li class="select-item-li select-item-li-{{i+1}}">
                <span class="icon"></span>
                <p class="icon-remark">小额极速</p>
            </li>
        {{/each}}
<!--        <li class="select-item-li select-item-li-01">
            <span class="icon"></span>
            <p class="icon-remark">小额极速</p>
        </li>
        <li class="select-item-li select-item-li-02">
            <span class="icon"></span>
            <p class="icon-remark">工薪贷</p>
        </li>
        <li class="select-item-li select-item-li-03">
            <span class="icon"></span>
            <p class="icon-remark">芝麻分贷款</p>
        </li>
        <li class="select-item-li select-item-li-04">
            <span class="icon"></span>
            <p class="icon-remark">用淘宝贷款</p>
        </li>
        <li class="select-item-li select-item-li-05">
            <span class="icon"></span>
            <p class="icon-remark">不查征信</p>
        </li>
        <li class="select-item-li select-item-li-06">
            <span class="icon"></span>
            <p class="icon-remark">大额分期</p>
        </li>
        <li class="select-item-li select-item-li-07">
            <span class="icon"></span>
            <p class="icon-remark">按金额</p>
        </li>
        <li class="select-item-li select-item-li-08">
            <span class="icon"></span>
            <p class="icon-remark">按期限</p>
        </li>-->
    </ul>

    <div class="tab-container">
        <div class="title-wrp">
            <span class="title">极速贷款</span>
            <a href="javascript:void(0);" class="more">更多</a>
        </div>
        <div class="clearfix"></div>
        <ul class="cooperater-ul">
            <li class="cooperater-li">
                <img src="https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/xianjinbashi.png" alt="" class="cooperater-img">
                <p class="cooperater-name">现金巴士</p>
                <p class="cooperater-remark">借款20分钟到账</p>
                <a href="javascript:void(0);" class="go-cooperater-btn">立即贷款</a>
                <span class="li-remark"></span>
            </li>
            <li class="cooperater-li">
                <img src="https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/qianzhan.png" alt="" class="cooperater-img">
                <p class="cooperater-name">钱站</p>
                <p class="cooperater-remark">借款20分钟到账</p>
                <a href="javascript:void(0);" class="go-cooperater-btn">立即贷款</a>
            </li>
            <li class="cooperater-li">
                <img src="https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/51lingyongqian.png" alt="" class="cooperater-img">
                <p class="cooperater-name">51lingyongqian</p>
                <p class="cooperater-remark">你借我就给</p>
                <a href="javascript:void(0);" class="go-cooperater-btn">立即贷款</a>
            </li>
            <li class="cooperater-li cooperater-li-right">
                <img src="https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/xunleiyidai.png" alt="" class="cooperater-img">
                <p class="cooperater-name">迅雷易贷</p>
                <p class="cooperater-remark">缴订金，包下款</p>
                <a href="javascript:void(0);" class="go-cooperater-btn">立即贷款</a>
            </li>
            <li class="cooperater-li">
                <img src="https://xl-games.oss-cn-hangzhou.aliyuncs.com/xunleijr-activity/daikuanchaoshi/m/common/qianzhan.png" alt="" class="cooperater-img">
                <p class="cooperater-name">缴订金，包下款</p>
                <p class="cooperater-remark">借款20分钟到账</p>
                <a href="javascript:void(0);" class="go-cooperater-btn">立即贷款</a>
            </li>
        </ul>
    </div>
</section>