<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> <%= htmlWebpackPlugin.options.title %> </title>
        <meta http-equiv="x-ua-compatible" content="IE=8,9,10,edge" >
        <meta name="description" content="借钱就送 极速借 2小时到账 领1年白金会员"/>
    </head>
    <body>
        <div class="wrapper">
            <%- include /src/component/index/header.ejs %>
            <section class="banner">
                <div class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="banner-link" href="http://www.baidu.com">
                                <img src="../../images/index/banner-01.jpg" class="banner-img" alt="" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="banner-link" href="http://www.baidu.com">
                                <img src="../../images/index/banner-01.jpg" class="banner-img" alt="" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="banner-link" href="http://www.baidu.com">
                                <img src="../../images/index/banner-01.jpg" class="banner-img" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            <div id="select-container-wrp"></div>

            <%- include /src/component/index/footer.ejs %>


        </div>

    </body>
</html>



















