/* 引入库文件 */
@import '../lib/lib-variables';
@import '../lib/lib-mixin';
@import '../lib/lib-media';
@import '../lib/lib-reset';
@import '../lib/lib-help';
html, body {
  height: 100%;
  min-height: 100%;
}
.wrapper{
  position: relative;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 120px;
  background: #ffffff;
  margin: 0 auto;
}
.header{
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  .logo{
    width: 178px;
    height: 46px;
    background-image: url("../../images/index/logo.png");
    display: block;
    position: absolute;
    bottom: 8px;
  }
}
.banner{
  width: 100%;
  .swiper-container{
    width: 100%;
    height: 360px;
  }
  .swiper-slide{
    .banner-link{
      width: 100%;
      height: 360px;
      display: inline-block;
    }
    .banner-img{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}

.select-nav{
  width: 100%;
  margin-top: 30px;
  .select-item-ul{
    width: 1000px;
    height: 98px;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .select-item-li{
    width: 125px;
    height: 98px;
    display: block;
    float: left;
    text-align: center;
    .icon{
      display: block;
      width: 46px;
      height: 46px;
      margin: 0 auto;
    }
    .icon-remark{
      color: #333333;
      font-size: 16px;
      margin-top: 10px;
    }
  }
  @for $i from 1 through 10{
    .select-item-li-#{if($i>9,$i,'0'+$i)} .icon{
      background: url("../../images/index/icon.png") no-repeat  #{-(49+($i - 1)*87.1)}px -39px;
    }
    .select-item-li-#{if($i>9,$i,'0'+$i)}:hover .icon{
      background: url("../../images/index/icon.png") no-repeat  #{-(49+($i - 1)*87.1)}px -108px;
    }
  }
}


.swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  text-align: center;
  line-height: 6px;
  font-size: 12px;
  color: #000;
  background: #dcdcdc;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #2892fe;
}