/* 引入库文件 */
@import '../lib/lib-variables';
@import '../lib/lib-mixin';
@import '../lib/lib-media';
@import '../lib/lib-reset';
@import '../lib/lib-help';
html, body {
  height: 100%;
  min-height: 100%;
}
.wrapper{
  position: relative;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 120px;
  background: #ffffff;
  margin: 0 auto;
}
.header{
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  .logo{
    width: 178px;
    height: 46px;
    background-image: url("../../images/index/logo.png");
    display: block;
    position: absolute;
    bottom: 0;
  }
}
.banner{
  width: 100%;
  .swiper-container{
    width: 100%;
    height: 360px;
  }
  .swiper-slide{
    .banner-link{
      width: 100%;
      height: 360px;
      display: inline-block;
    }
    .banner-img{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}

.select-nav{
  width: 100%;

  .select-item-ul{
    width: 1100px;
    height: 98px;
    margin: 0 auto;
  }
  .select-item-li{
    width: 130px;
    height: 98px;
    display: block;
    float: left;
  }
  .select-item-li-01{
    background: url("../../images/sprites/nav-01-normal.png") no-repeat center center;
  }
  .select-item-li-02{
    background: url("../../images/sprites/nav-02-normal.png") no-repeat center center;
  }
}