/* 引入库文件 */
@import '../lib/lib-variables';
.header{
  width: 100%;
  &.shadow{
    box-shadow: 0px 5px 25px 0px #ededed;
  }
  .inner-wrp{
    width: $viewWidth;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }
  .logo{
    width: 164px;
    height: 44px;
    background-image: url("../../images/index/logo.png");
    display: block;
    position: absolute;
    bottom: 8px;
  }
}