/* 引入库文件 */
@import '../lib/lib-variables';
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.header{
  width: 100%;
  &.shadow{
    box-shadow: 0px 5px 25px 0px #ededed;
  }
  .inner-wrp{
    width: $viewWidth;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }
  .logo{
    width: 293px;
    height: 41px;
    background-image: url("../../images/cashloanmarket/logo.png");
    display: block;
    position: absolute;
    bottom: 10px;
  }
  .nav{
    float: right;
    height: 80px;
    position: absolute;
    z-index: 3;
    right: 0;
    font-size: 18px;
    background-color: #fff;
    padding-right: 50px;
    padding-top: 42px;
    .home{
      margin-right: 50px;
      color: #5a8fff;
    }
    .strategy{
      color: #5a8fff;
    }
  }
  .strategy-wrp{
    position: relative;
    bottom: 80px;
    right: 5px;
    z-index: 2;
  }
  .strategy-content{
    position: absolute;
    right: 5px;
    bottom: -155px;
    z-index: 2;
    background-color: #fff;
    padding: 16px 22px;
    opacity: 0;
    //transform: translate3d(0, -100%, 0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    &.show {
      opacity: 1;
      transform: translate3d(0, 105%, 0);
    }
    .QRcode{
      display: block;
      margin: 0 auto;
      width: 140px;
    }
    .remark{
      display: block;
      text-align: center;
      color: nth($colorText, 2);
      font-size: 14px;
      margin-top: 8px;
    }
  }
}

