@import '../lib/lib-variables';

.app-wrapper{
  height: 100%;
  min-height: 100%;
}
.homepage{
  min-height: 100%;
  position: relative;
  padding-bottom: 143px;
  padding-top: 80px;
  overflow-y: auto;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }
  .recommend-title{
    font-size: 28px;
    color: #7684ff;
    line-height: 52px;
    border-bottom: 4px solid #7684ff;
    padding-left: 26px;
    height: 56px;
    margin-top: 22px;
  }
}
@import './homeCooperaterPanel';
@import './QRcodePanelBottom';