.cooperator-panel-wrp{
  width: 100%;
  overflow: hidden;
  .cooperator-ul{
    width: 690px;
    margin: 18px auto 0;
    font-size: 0;
    text-align: center;
    overflow: auto;
    .cooperator-li{
      display: inline-block;
      font-size: 24px;
      width: 330px;
      height: 382px;
      border: 1px solid #ececec;
      margin-right: 24px;
      position: relative;
      padding-top: 18px;
      margin-bottom: 22px;
      vertical-align: middle;
      float: left;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      &:nth-of-type(2n){
        margin-right: 0;
      }
      .cooperater-link{
        width: 100%;
        height: 100%;
      }
      .remark{
        display: inline-block;
        height: 38px;
        max-width: 150px;
        line-height: 38px;
        color: #ffffff;
        font-size: 18px;
        background-color: #ff5b43;
        position: absolute;
        top: 13px;
        right: 0;
        padding: 0 15px 0 18px;
        border: none;
        border-radius: 19px 0 0 19px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .cooperater-img{
        display: block;
        margin: 0 auto;
        width: 240px;
        height: 120px;
      }
      .cooperater-name{
        display: block;
        width: 300px;
        margin: 10px auto 0;
        font-size: 28px;
        line-height: 1.5;
        color: nth($colorText, 1);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .cooperater-remark{
        display: block;
        width: 300px;
        margin: 0 auto;
        font-size: 28px;
        line-height: 1.5;
        color: nth($colorText, 1);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .cooperater-count{
        display: block;
        width: 300px;
        margin: 0 auto;
        font-size: 24px;
        color: nth($colorText, 3);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 12px;
      }
      .go-cooperater-btn{
        width: 260px;
        height: 62px;
        line-height: 62px;
        display: block;
        background: url("../../images/m/btn.png") no-repeat center;
        background-size: contain;
        margin: 26px auto 0;
        font-size: 30px;
        color: #5a8fff;
        text-align: center;
        &:active{
          background: url("../../images/m/btn-active.png") no-repeat center;
          background-size: contain;
          color: #fff;
        }
      }
    }
  }
  .bottom-remark{
    text-align: center;
    margin: 20px auto 16px;
    .more-icon{
      width: 32px;
      height: 32px;
      display: inline-block;
      background: url("../../images/m/more-icon.png") no-repeat center;
      background-size: contain;
      vertical-align: middle;
    }
    .art{
      vertical-align: middle;
      margin-left: 14px;
      color: #5a8fff;
      font-size: 26px;
    }
  }
}