@import '../lib/lib-variables';
.more-type-selector{
  .type-selector-wrp{
    width: 100%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    font-size: 26px;
    color: nth($colorText, 1);
    display: flex;
    border-bottom: 1px solid #eeeeee;
    .label{
      display: inline-block;
      color: #7886ff;
      width: 110px;
      min-width: 110px;
      padding-left: 25px;
    }
    .type-selector-ul{
      flex: 1;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      height: 80px;
      &::-webkit-scrollbar {
        display: none;
      }
      .type-selector-li{
        display: inline-block;
        margin-right: 35px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        &.selected{
          color: #7886ff;
        }
      }
    }
  }
  .detail-type-selector-wrp{
    width: 100%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    font-size: 22px;
    color: nth($colorText, 2);
    display: flex;
    border-bottom: 4px solid #7886ff;
    .label{
      display: inline-block;
      color: #7886ff;
      width: 110px;
      min-width: 110px;
      padding-left: 25px;
    }
    .detail-type-selector-ul{
      flex: 1;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      height: 80px;
      &::-webkit-scrollbar {
        display: none;
      }
      .detail-type-selector-li{
        display: inline-block;
        margin-right: 35px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        &.selected{
          color: #fc5a4d;
        }
      }
    }
  }
}
