@import '../lib/lib-variables';

.morepage{
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 143px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  overflow-y: auto;
  .more-type-selector-wrp{
    transition: transform 0.5s ease;
    transform: translateY(0);
    &.hasProductTypeDetailList{
      transform: translateY(80px);
    }
  }
}