@import '../lib/lib-variables';

.type-select-panel-wrp{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 2;
  &.show{
    transform: translateX(0);
  }
  .product-type-ul{
    width: 100%;
    height: 100%;
    padding-top: 62px;
    .product-type-li{
      width: 50%;
      display: inline-block;
      margin-bottom: 45px;
      &.selected .product-type-con .product-type-icon{
        background-position: 50.74%  94.62%;
      }
      .product-type-con{
        width: 188px;
        height: 148px;
        margin: 0 auto;
        .product-type-icon{
          width: 69px;
          height: 69px;
          display: block;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-position: left top;
          background-size: 114px 187.5px;
          background-position: 50.74%  7.56%;
        }
        .product-type-name{
          font-size: 28px;
          color: nth($colorText, 1);
          text-align: center;
          margin-top: 28px;
          display: block;
        }
      }
    }
  }
  //@for $i from 1 through 8{
  //  .product-type-li-#{if($i>9,$i,'0'+$i)} .product-type-icon{
  //    background: url("../../images/m/select-panel-icon-#{if($i>9,$i,'0'+$i)}.png") no-repeat center center;
  //    background-size: contain;
  //  }
  //  .product-type-li-#{if($i>9,$i,'0'+$i)}.selected .product-type-icon{
  //    background: url("../../images/m/select-panel-icon-#{if($i>9,$i,'0'+$i)}-active.png") no-repeat center center;
  //    background-size: contain;
  //  }
  //}
}